// Fonts
body {
  font-family: Roboto, 'Noto Sans JP', sans-serif;
}

#algorithm-library, .book-brand {
  letter-spacing: 0.1em;
  font-variant-caps: small-caps;
}

// Text hyphenation and justification
li,
p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
}

// for safari
_::-webkit-full-page-media,
_:future,
:root p,
:root li {
  text-align: left;
}

.en-us {
  cursor: text;

  a & {
    cursor: pointer;
  }
}

// Kerning
$white-space-width: 4.3em / 19;

.spacing::before {
  content: "\0020";
}

.spacing-full {
  @extend .spacing;
  &::before {
    letter-spacing: 1em - $white-space-width;
  }
}

.spacing-half {
  @extend .spacing;
  &::before {
    letter-spacing: 0.5em - $white-space-width;
  }
}

.spacing-quarter {
  @extend .spacing;
  &::before {
    letter-spacing: 0.25em - $white-space-width;
  }

  code & {
    &::before {
      content: "";
    }
  }
}

.delete-right-half-by-margin {
  letter-spacing: 0;
  margin-right: -0.5em;
}

.delete-right-quarter-by-margin {
  letter-spacing: 0;
  margin-right: -0.25em;
}

// Hyperlinks
a {
  transition: 0.3s;

  &:hover {
    opacity: 0.5;
    text-decoration: underline;
  }
}

.book-menu a {
  text-decoration: none;
}

// blockquote
blockquote {
  font-size: 90%;
}

// References
ol.ref {
  counter-reset: list;
  list-style: none;

  li {
    position: relative;

    &::before {
      counter-increment: list;
      content: '[' counter(list) '] ';
      left: -1.4em;
      position: absolute;
    }

    &:target {
      animation: fade-highlight 3s;
    }
  }
}

@keyframes fade-highlight {
  from {
    background-color: $color-highlight;
  }
  75% {
    background-color: $color-highlight;
  }
  to {
    background-color: transparent;
  }
}

a.cite {
  color: $body-font-color;
}

// Tables
.markdown table {
  display: table;
  margin: auto;
  font-size: 0.9375rem;

  tr {
    th, td {
      max-width: 120%;
    }
    th {
      border: none;
    }
    td {
      background-color: $white;
      border-bottom: none;
      border-color: $gray-500;
      border-left: none;
      border-right: none;
      border-width: 1px;
    }
    &:nth-child(1) td {
      border-color: $gray-700;
      border-width: 1px;
    }
  }
}

// Code area
figure.code {
  font-family: 'Roboto Mono', monospace;
  margin: 1em 0;
  padding-left: 1em;
  word-break: normal;
}

// Caption
figcaption.code-caption {
  color: $gray-700;
  font-size: 80%;
  letter-spacing: normal;
  line-height: 1em;
  margin: 0.4em 0.2em;

  .fa-github {
    padding-right: 0.3em;
  }
  a {
    color: inherit;
  }
}

// Copy button
.copy-button {
  background-color: white;
  border: 1px solid $color-link;
  border-radius: $border-radius;
  color: $color-link;
  cursor: pointer;
  font-size: 90%;
  outline: 0;
  padding: 0.1em 0.5em;

  &:active {
    background-color: #b3d9ff;
  }
  .fa-copy{
    padding-right: 0.3em;
  }
}

.tooltip {
  display: none;
}

.show-tooltip .tooltip {
  animation: fade-tooltip .5s 1s 1 forwards;
  border-radius: $border-radius * 2;
  background-color: $body-font-color;
  color: $white;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 89%;
  left: 50%;
  padding: 0.5em 1em;
  position: absolute;
  top: -2.65em;
  transform: translate(-50%, 0);
  word-break: normal;

  &::before {
    content: '';
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -0.5em;
    border-style: solid;
    border-width: 0.5em 0.5em 0 0.5em;
    border-color: $body-font-color transparent transparent transparent;
  }
}

@keyframes fade-tooltip {
  to {
    opacity: 0;
  }
}

.copy-text {
  left: -1000000vw;
  opacity: 0;
  position: absolute;
  top: -1000000vw;
}

// Code highlight
ol.highlight {
  counter-reset: lineno;
  display: table;
  font-size: 0.9em;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    color: $gray-500;
    counter-increment: lineno;
    display: table-row;

    &:hover {
      background-color: $color-highlight;
      color: $body-font-color;
    }

    &::before {
      content: counter(lineno);
      display: table-cell;
      padding-right: 0.5em;
      text-align: right;
      width: 1px;
    }

    pre {
      background-color: transparent;
      color: $body-font-color;
      display: inline;
      padding: 0;
      white-space: pre-wrap;
    }
  }
}

// Footer
.footer {
  float: right;
  font-size: 70%;
}

// Tablet screens
@media screen and (max-width: $md-breakpoint) {
  .book-menu {
    margin-left: -$menu-width;
    font-size: $font-size-base;
  }

  .book-header {
    display: flex;
  }

  #menu-control:checked + main {
    .book-menu nav, .book-page {
      transform: translateX($menu-width);
    }

    .book-header label {
      transform: rotate(90deg);
    }

    .markdown {
      opacity: 0.25;
    }
  }

  // Make the left padding of code 0
  figure.code {
    padding: 0;
  }
}

// Smartphone screens
@media screen and (max-width: $sm-breakpoint) {
  body {
    font-size: 0.9375rem;
  }
}
